@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.pizza {
    
}
.pizza__body {
    max-width: 823px;
    margin: 0px auto;
}
.pizza__header {
    margin: 0px 0px 10px 0px;
}
.pizza__title {
    margin: 10px 0px 30px 0px;
}
.pizza__text {
    max-width: 688px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    line-height: 25.89px;
    margin: 0px auto;
}
.pizza__row {
    display: flex;
    font-size: 10;
    margin: 0px -15px;
    align-self: stretch;
}
.pizza__column {
    border-radius: 10px;
    border: 2px solid #afafaf;
    padding: 0px 5px 0px 5px;
    flex: 0 0 33.333%;
    margin: 0px 5px 0px 5px;
}

.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding: 0px 0px 30px 0px;
}

.item-pizza {}
.item-pizza__icon {
    margin: 0px auto;
    border-radius: 50%;
    width: 92px;
    height: 92px;
    border: 2px solid #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-pizza__title {
    text-align: center;
    color: #000000;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    margin: 0px 0px 35px 0px;
}
.item-pizza__text {
    text-align: center;
    color: #868585;
    margin: 0px 0px 10px 0px;
}
.item-pizza__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 0px 0px;
    flex-direction: column;
}
.button {
    padding: 0px 0px 10px 0px;
}
.item-pizza__list li {
    color: #868585;
    padding: 0px 0px 5px 0px;
}
.item-pizza__img {
  margin: 0px auto;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-pizza__output {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 10px 0px;
}
.item-pizza__dop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item-pizza-dop__text {
  flex: 1;
  color: #868585;
  padding: 0px 0px 5px 80px;
}
.item-pizza-dop__check {
  flex: 1;
  padding: 0px 0px 5px 0px;
}

.pizza__basket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid #afafaf;
  margin: 0px auto;
}
.img-pizza__basket img {
  width: 114px;
  height: 90px;
  border-radius: 25px;
}

.pizza__miniRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  justify-content: space-around;
  border-radius: 10px;
  border: 2px solid #afafaf;
  margin: 10px 0px 0px 10px;
}