 .container {
 display: flex;
 flex-direction: column;
 }

.box_1 {
    display: flex;
    flex-direction: row;
    background-color: rgb(70, 132, 156);
}
.box_1_1 {
    background-color: rgb(44, 157, 202);
}
.box_1_2 {
    background-color: rgb(62, 173, 71);
}
.box_1_3 {
    background-color: rgb(135, 151, 62);
}
.row-container {
    display: flex;
    background-color: rgb(153, 175, 185);
    min-width: 200px;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    margin:  10px 100px 10px 100px;
}
.swaip {
    background-color: rgb(114, 170, 196);
    visibility: hidden;
    opacity: 0;
    transform: translate(0px, -100%);
}
.open {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0%);
}
.swaip-windows {
    text-align-last: center;
    background-color: rgb(189, 145, 145);
     
  }


.photo {
    width: 200px;
    height: 200px;
    padding-top: 20px;
    border-radius: 50%;
}

